<app-header></app-header>
<button class="btn btn-primary mt-5 position-fixed" (click)="openModalCreatePost()">Create post</button>
<div bsModal #createPostModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">{{isCreate ? 'Create post' : 'Edit post'}} </h4>
        <button type="button" class="btn-close close pull-right" (click)="createPostModal.hide()" aria-label="Close">
          <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
      </div>
      <div class="modal-body post">
        <tabset type="pills" class="post-tabs">
          <tab heading="Content" class="post-tabs-tab">
            <form class="post-tabs-tab-content" [formGroup]="formCreatePost">
              <div class="form-group">
                <label for="title">Title</label>
                <input class="form-control" id="title" formControlName="title">
              </div>
              <div class="form-group">
                <label for="content">Content</label>
                <textarea class="form-control" id="content" formControlName="content"></textarea>
              </div>
              <div class="form-group">
                <label for="tag">Tags</label>
                <select id="tag" class="form-select" aria-label="Default select example" formControlName="tag">
                  <option value="Asia">Asia</option>
                  <option value="Europe">Europe</option>
                  <option value="Africa">Africa</option>
                  <option value="America">America</option>
                  <option value="Oceania">Oceania</option>
                  <option value="Antarctica">Antarctica</option>
                </select>
              </div>
            </form>
          </tab>
          <tab heading="Images" class="post-tabs-tab">
            <form class="post-tabs-tab-imgs" [formGroup]="formCreatePost">
              <div class="form-group">
                <label for="image"></label>
                <input type="file" accept="image/*" formControlName="images" (change)="selectImagesPost($event)"
                  multiple class="form-control-file" id="image">
              </div>
              <div class="row">
                <span>Image old</span>
                <div class="col-6 col-md-4 col-lg-3 post-tabs-tab-imgs-img mb-4"
                  *ngFor="let img of imagesSelected; index as i">
                  <img class="border-radius-8" src="{{isCreate ? img : imagePath + '/posts/' + img}}" alt="">
                  <button class="flex-center"><i class="bi bi-x" (click)="deleteImagePost(i)"></i></button>
                </div>

              </div>
              <div class="row">
                <span>image new</span>
                <div class="col-6 col-md-4 col-lg-3 post-tabs-tab-imgs-img mb-4"
                  *ngFor="let img of newImagesSelected; index as i">
                  <img class="border-radius-8" [src]="img" alt="">
                  <button class="flex-center"><i class="bi bi-x" (click)="deleteImagePost(i)"></i></button>
                </div>
              </div>
              <div *ngIf="isEdit" class="form-group">
                <label for="image2">Add Image</label>
                <input type="file" accept="image/*" formControlName="images" (change)="selectImagesPost($event)"
                  multiple class="form-control-file" id="image2">
              </div>
              <button (click)="imagesSelected = []; newImagesSelected = []">Clear Images</button>
            </form>
          </tab>
        </tabset>
        <button *ngIf="isCreate" (click)="createPost(createPostModal)">Create</button>
        <button *ngIf="isEdit" (click)="editPost()">Edit</button>
      </div>
    </div>
  </div>
</div>
<div class="row posts-wrapper">
  <div class="col-12 col-lg-6 posts-post mb-4" *ngFor="let post of posts; index as i; trackBy: trackByFn">
    <div class="posts-inner p-3 border-radius-12">
      <div class="posts-post-head d-flex justify-content-between">
        <div class="d-flex">
          <div class="posts-post-head-avatar me-3 border-radius-rounded">
            <img [src]="imagePath + 'avatars/' + post.userAvatar" alt="">
          </div>
          <div class="posts-post-head-info d-flex flex-column my-auto">
            <strong>{{post.userUsername}}</strong>
            <span>{{formatTimeAgo(post.createdAt)}}</span>
            <!-- <div>{{post.createdAt | date}}</div> -->
          </div>
        </div>
        <div class="posts-post-head-tags">
          <!-- <strong class="text-white">#{{post.tag}}</strong> -->
          <app-tag-view [content]="post.tag" [type]="post.tag"></app-tag-view>
        </div>
      </div>
      <div class="posts-post-body my-4">
        <strong class="posts-post-body-title mb-2">{{post.title}}</strong>
        <p class="posts-post-body-content">{{post.content}}</p>
        <!-- <img *ngFor="let image of post.images" width="300" [src]="imagePath + 'posts/'+ image" alt=""> -->
        <!-- <div class="posts-post-body-images" slickContainer #slickController="slick" [slickConfig]="{infinite: true,
        slidesToShow: 1,
        slidesToScroll: 1,
        autoplay: false,
        mouseWheelMove: false,
        dots: post.images.length > 1,
        arrows: false
        }">
          <img class="posts-post-body-images-image" slickItem *ngFor="let image of post.images"
            [src]="imagePath + 'posts/'+ image" alt="">
        </div> -->
        <div class="posts-post-body-images">
          <img class="posts-post-body-images-image" [src]="imagePath + 'posts/'+ post.images[0]" alt="">
        </div>
      </div>

      <div class="posts-post-footer d-flex justify-content-between">
        <div class="posts-post-footer-likes d-flex">
          <label [for]="post._id"
            [ngClass]="{'posts-post-footer-icon': !userSession.likes.includes(post._id), 'second': true, 'third': false}"
            class="me-2" [class.active]="userSession.likes.includes(post._id)">
            <i class="bi bi-suit-heart-fill text-white"></i>
          </label>
          <input style="overflow: hidden; width: 0; height: 0;" type="checkbox" [id]="post._id" value="like"
            [checked]="userSession.likes.includes(post._id)" (change)="updateStatusLike($event, post._id)">
          <!-- <span class="posts-post-footer-count">{{post.likers.length}}</span> -->
          <span class="posts-post-footer-count">
            {{post.likers.includes(userSession._id) && (post.likers.length === 1) ? 'You' :
            post.likers.includes(userSession._id) && (post.likers.length > 1) ? "You and " +(post.likers.length - 1) +'
            others' :
            (post.likers.length)}}
          </span>
        </div>
        <div class="posts-post-footer-views d-flex">
          <span class="me-2 posts-post-footer-count">{{post.views}}</span>
          <div class="posts-post-footer-icon"><i class="bi bi-eye-fill text-white"></i></div>
        </div>
      </div>
      <div class="posts-inner-comment d-flex" *ngFor="let comment of post.comments">
        <!-- <pre>{{comment |json}}</pre> -->
        <div class="posts-inner-comment-image">
          <img [src]="imagePath + 'avatars/' + comment.author.avatar" width="50">
        </div>
        <div class="posts-inner-comment-content">
          <div class="d-flex">
            <div>{{comment.author.username}}</div>
            <div>{{comment.createdAt | date}}</div>
          </div>
          <div>{{comment.content}}</div>
          <button *ngIf="userSession._id === comment.author.id">Edit</button>
          <button *ngIf="userSession._id === comment.author.id">Delete</button>
        </div>
      </div>

      <div class="d-flex my-3 gap-2 align-items-center">
        <form class="d-block w-100" action="" [formGroup]="formCreateComment" (submit)="createComment(post._id)">
          <textarea formControlName="content" style="resize: none;" placeholder="Type your comment" class="form-control"
            type="text"></textarea>
          <button type="submit">send</button>
        </form>
        <div class="btn-group posts-inner-btns" dropdown [dropup]="true" placement="end">
          <button id="button-dropup" dropdownToggle type="button"
            class="flex-center border-radius-rounded btn btn-primary dropdown-toggle" aria-controls="dropdown-dropup">
            <i class="bi bi-three-dots"></i>
          </button>
          <ul id="dropdown-dropup" *dropdownMenu class="p-2 dropdown-menu" role="menu" aria-labelledby="button-dropup">
            <li role="menuitem" class="p-2" (click)="updatePostViews(post._id)" routerLink="/post/{{post._id}}">
              <i class="flex-center me-1 bi bi-chevron-double-right"></i> Details
            </li>
            <li role="menuitem" class="p-2" *ngIf="userSession._id === post.userID"
              (click)="openModalEditPost(post._id)">
              <i class="flex-center me-1 bi bi-pencil-square"></i> Edit
            </li>
            <li role="menuitem" class="p-2" *ngIf="userSession._id === post.userID" (click)="deletePost(post._id)">
              <i class="flex-center me-1 bi bi-trash"></i>
              Delete
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<pagination (pageChanged)="pageChanged($event)" [boundaryLinks]="true"
  [totalItems]=" ((postsCount / limitPost)) * 11" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
  lastText="&raquo;">

</pagination>
