<app-header></app-header>

<button class="btn btn-primary mt-5 position-fixed" (click)="createPostModal.show()">Create post</button>

<div bsModal #createPostModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">Large modal</h4>
        <button type="button" class="btn-close close pull-right" (click)="createPostModal.hide()" aria-label="Close">
          <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
      </div>
      <div class="modal-body post">
        <tabset type="pills" class="post-tabs">
          <tab heading="Content" class="post-tabs-tab">
            <form class="post-tabs-tab-content" [formGroup]="formCreatePost">
              <div class="form-group">
                <label for="title">Title</label>
                <input class="form-control" id="title" formControlName="title">
              </div>
              <div class="form-group">
                <label for="content">Content</label>
                <textarea class="form-control" id="content" formControlName="content"></textarea>
              </div>
              <div class="form-group">
                <label for="tag">Tags</label>
                <select id="tag" class="form-select" aria-label="Default select example" formControlName="tag">
                  <option value="Asia">Asia</option>
                  <option value="Europe">Europe</option>
                  <option value="Africa">Africa</option>
                  <option value="America">America</option>
                  <option value="Oceania">Oceania</option>
                  <option value="Antarctica">Antarctica</option>
                </select>
              </div>
            </form>
          </tab>
          <tab heading="Images" class="post-tabs-tab">
            <form class="post-tabs-tab-imgs" [formGroup]="formCreatePost">
              <div class="form-group">
                <label for="image">Example file input</label>
                <input type="file" accept="image/*" formControlName="images" (change)="selectImagesPost($event)"
                  multiple class="form-control-file" id="image">
              </div>
              <div class="row">
                <div class="col-6 post-tabs-tab-imgs-img mb-4" *ngFor="let img of imagesSelected; index as i">
                  <img [src]="img" alt="" [@fadeOut]>
                  <i class="bi bi-x-circle-fill" (click)="deleteImagePost(i)"></i>
                </div>
              </div>
            </form>
          </tab>
        </tabset>
        <button (click)="createPost(createPostModal)">Create</button>
      </div>
    </div>
  </div>
</div>

<div class="row posts-wrapper">
  <div class="col-12 col-lg-6 posts-post mb-4" *ngFor="let post of posts; index as i">
    <div class="posts-inner p-3 border-radius-12">
      <div class="posts-post-head d-flex justify-content-between">
        <div class="d-flex">
          <div class="posts-post-head-avatar me-3 border-radius-rounded">
            <img [src]="imagePath + 'avatars/' + post.userAvatar" alt="">
          </div>
          <div class="posts-post-head-info d-flex flex-column my-auto">
            <strong>{{post.userUsername}}</strong>
            <span>{{formatTimeAgo(post.createdAt)}}</span>
            <!-- <div>{{post.createdAt | date}}</div> -->
          </div>
        </div>
        <div class="posts-post-head-tags">
          <strong>#{{post.tag}}</strong>
        </div>
      </div>
      <div class="posts-post-body my-4">
        <strong class="posts-post-body-title mb-2">{{post.title}}</strong>
        <p class="posts-post-body-content">{{post.content}}</p>
        <!-- <img *ngFor="let image of post.images" width="300" [src]="imagePath + 'posts/'+ image" alt=""> -->
        <div class="posts-post-body-images" slickContainer #slickController="slick" [slickConfig]="config">
          <img class="posts-post-body-images-image" slickItem *ngFor="let image of post.images"
            [src]="imagePath + 'posts/'+ image" alt="">
        </div>
        <!-- <button (click)="slickController.pause()">Pause</button> -->
      </div>

      <div class="posts-post-footer d-flex justify-content-between">
        <div class="posts-post-footer-likes d-flex">
          <label [for]="post._id"
            [ngClass]="{'posts-post-footer-icon': !userSession.likes.includes(post._id), 'second': true, 'third': false}"
            class="me-2" [class.active]="userSession.likes.includes(post._id)">
            <i class="bi bi-suit-heart-fill text-white"></i>
          </label>
          <input style="overflow: hidden; width: 0; height: 0;" type="checkbox" [id]="post._id" value="like"
            [checked]="userSession.likes.includes(post._id)" (change)="updateStatusLike($event, post._id)">
          <span class="posts-post-footer-count">{{post.likers.length}}</span>
        </div>
        <div class="posts-post-footer-views d-flex">
          <span class="me-2 posts-post-footer-count">{{post.views}}</span>
          <div class="posts-post-footer-icon"><i class="bi bi-eye-fill text-white"></i></div>
        </div>
      </div>




      <!-- <button class="btn">
      <i class="bi bi-suit-heart"></i>
    </button> -->

      {{post.likers.includes(userSession._id) ? 'You and ' + (post.likers.length - 1) +' others' : (post.likers.length)}}
      <div *ngFor="let liker of post.likers">
        <!-- {{liker === userSession._id ? 'You': liker}} -->

      </div>
      <button *ngIf="userSession._id === post.userID" class="btn btn-primary">Edit</button>
      <button *ngIf="userSession._id === post.userID" class="btn btn-primary"
        (click)="deletePost(post._id)">Delete</button>
    </div>
  </div>
</div>
