<div class="wrapper w-100 flex-center">
  <div class="form-wrapper py-4 px-5 border-radius-12 bg-white">
    <form class="form" [formGroup]="changePWForm" (submit)="updateUserPassword()">
      <div class="form-image mx-auto my-3">
        <img src="../../../assets/images/logos/logo.png" alt="">
      </div>
      <h1 class="form-heading mb-3 fw-6">Change Password</h1>
      <div class="form-list d-flex flex-column gap-3">
        <div class="form-list-item fw-6">
          <label class="mb-1" for="old-password">Old passwod</label>
          <input type="password" id="old-password" class="form-control" formControlName="old">
        </div>
        <div class="form-list-item fw-6">
          <label class="mb-1" for="new-password">New passwod</label>
          <input type="password" id="new-password" class="form-control" formControlName="new">
        </div>
        <div class="form-list-item fw-6">
          <label class="mb-1" for="confirm-password">Confirm passwod</label>
          <input type="password" id="confirm-password" class="form-control" formControlName="confirm">
        </div>
      </div>
      <button class="btn btn-primary w-100 mb-3 mt-4" type="submit">Confirm</button>
    </form>
  </div>
</div>

<button title="Back to login" class="btn form-back bg-primary flex-center" routerLink="">
  <i class="bi bi-house text-white"></i>
</button>
