<div class="post-popular border-radius-12 p-3">
  <h2 class="post-popular-heading text-success">
    <ng-content></ng-content>
  </h2>
  <div class="post-popular-posts  d-flex flex-column gap-3">
    <div class="post-popular-posts-post border-radius-8 p-2 flex-center-y gap-3"
      *ngFor="let post of postsTop; trackBy: trackByFn" (click)="updatePostViewers(post._id)">
      <div class="post-popular-posts-post-image border-radius-rounded"><img
          [src]="imagePath + 'avatars/' + post.author.avatar" alt=""></div>
      <div class="post-popular-posts-post-content">
        <div class="post-popular-posts-post-content-title fw-6">{{post.title}}</div>
        <div class="post-popular-posts-post-content-footer d-flex flex-column fw-6">
          <span class="d-flex">
            <div class="me-1 posts-post-footer-icon bg-dark">
              <i class="{{icon}} text-white" style="color: white !important"></i>
            </div>
            <div *ngIf="type" [ngSwitch]="type">
              <div *ngSwitchCase="'views'" style="width: 22px;">{{post.views}}</div>
              <div *ngSwitchCase="'likers'" style="width: 22px;">{{post.likers.length}}</div>
            </div>
          </span>
          <div class="d-flex">
            <span class="" style="width: 80px;">by {{post.author.username}}</span>
          </div>
        </div>
      </div>
      <div class="post-popular-posts-tag">
        <app-tag-view [type]="post.tag"></app-tag-view>
      </div>
    </div>
  </div>
</div>
