<div class="form d-flex align-items-center justify-content-center">
  <app-alerts #item *ngIf="typeAlert && msgAlert"></app-alerts>
  <!-- <img class="form-bg" src="../../assets/images/bg-form4.avif"/> -->
  <div class="form-container">

    <div class="form-inner">
      <div class="form-inner-header d-flex align-items-center justify-content-between mb-4">
        <h2 class="mb-0">Sign Up</h2>
        <div class="form-inner-header__social d-flex gap-3">
          <i class="bi bi-facebook"></i>
          <i class="bi bi-google"></i>
        </div>
      </div>
      <form class="form-inner-body d-flex flex-column" [formGroup]="signInForm" (ngSubmit)="test()">

        <div class="form-inner-body__username mt-3">
          <label for="username">Username</label>
          <input type="text" class="form-control my-2" id="username" autocomplete="off" formControlName="username"
            autofocus (input)="validateUsername()">
          <span class="form-inner-body__error" *ngIf="signInForm.value.username">{{validateUsername()}}</span>
        </div>
        <div class="form-inner-body__email mt-3">
          <label for="email">Email</label>
          <input type="text" class="form-control my-2" type="email" formControlName="email" id="email"
            [autofocus]="emailFocus" autocomplete="off" (input)="validateEmail()">
          <span class="form-inner-body__error" *ngIf="signInForm.value.email">{{validateEmail()}}</span>
        </div>
        <div class="form-inner-body__password mt-3">
          <label for="password">Password</label>
          <input class="form-control my-2" type="password" formControlName="password" id="password" autocomplete="off"
            (input)="validatePassword()">
          <span class="form-inner-body__error" *ngIf="signInForm.value.password">{{validatePassword()}}</span>
        </div>

        <div class="form-inner-body__password mt-3">
          <label for="password2 my-2">Type password again</label>
          <input class="form-control " type="password" formControlName="password" id="password2" autocomplete="off">
        </div>

        <button type="submit" class="btn btn-primary py-2 my-4">
          Sign Up Now
        </button>
      </form>
    </div>
  </div>
</div>
