.form {
  position: relative;
  min-height: 100vh;


  &-container {
    // box-shadow: 0 8px 16px #0000001a;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 550px;
    border-radius: 12px;
    overflow: hidden;
  }

  &-bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 0;
  }

  &-inner {
    padding: 48px;

    &-header {
      h2 {
        font-size: 1.75rem;
        line-height: 1.5;
      }

      &__social {
        i {
          font-size: 32px;

        }

        .bi-facebook {
          color: #0f90f3;
        }

        .bi-google {
          color: #de4032;
        }
      }
    }

    &-body {

      &__item {

      }

      &__error {
        color: var(--bs-red);
      }

      button {
        border-radius: 12px;
      }
    }

    &-footer {}
  }
}

.form:focus {
  border: 0 !important;
}
