<nav class="navbar navbar-expand-lg navbar-light header px-lg-3 position-fixed top-0 start-0 end-0">
  <div class="container-fluid header-container">
    <a (click)="callGetAllPost()" class="navbar-brand text-white header-container-home" routerLink=""><i
        class="bi bi-house-fill"></i></a>
    <button class="navbar-toggler px-0 header-container-bar text-white" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <fa-icon [icon]="faBars"></fa-icon>
    </button>
    <div class="collapse navbar-collapse header-inner" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 header-inner-nav">
        <li class="nav-item">
          <div class="btn-group" dropdown>
            <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
              aria-controls="dropdown-basic">
              Tags
              <span class="caret"></span>
            </button>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
              <!-- <li role="menuitem"></li> -->
              <li *ngFor="let tag of listTags" (click)="passTag(tag)" role="menuitem">
                <a class="dropdown-item">{{tag}}</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item" *ngIf="user && user.admin">
          <a class="nav-link active text-white" routerLinkActive="header-inner-link"
            [routerLinkActiveOptions]="{ exact: true }" aria-current="page" routerLink="/admin">Admin</a>
        </li>
        <li class="nav-item" *ngIf="user && user.admin">
          <a class="nav-link active text-white" routerLinkActive="header-inner-link" aria-current="page"
            routerLink="/admin/users">Manage Users</a>
        </li>
        <li class="nav-item" *ngIf="user && user.admin">
          <a class="nav-link active text-white" routerLinkActive="header-inner-link" aria-current="page"
            routerLink="/admin/posts">Manage Posts</a>
        </li>
      </ul>
      <div class="header-inner-right d-flex gap-3">
        <form class="d-flex header-inner-search">
          <!-- <input class="form-control me-3" type="search" placeholder="Type title of post" aria-label="Search" /> -->
          <div class="btn-group" #searchDropdown="bs-dropdown" dropdown placement="bottom right">
            <!-- <button id="button-alignment" dropdownToggle type="button"
                    class="btn btn-primary dropdown-toggle" aria-controls="dropdown-alignment">
              This dropdown's menu is right-aligned <span class="caret"></span>
            </button> -->
            <input (input)="searchListPosts(searchDropdown, $event)" class="form-control me-3" type="search"
              placeholder="Type title of post" aria-label="Search" />
            <ul id="dropdown-alignment" *dropdownMenu
              class="header-inner-search-items dropdown-menu dropdown-menu-right p-2" role="menu"
              aria-labelledby="button-alignment">
              <ng-scrollbar style="height: 300px; width: 425px;" appearance="standard">
                <strong *ngIf="postsByTitle && postsByTitle.length > 0">{{postsByTitle.length}} posts match</strong>
                <strong *ngIf="postsByTitle && postsByTitle.length === 0">Not found</strong>

                <li *ngFor="let post of postsByTitle" role="menuitem"
                  class="header-inner-search-items-item flex-center-y gap-3 p-2" [routerLink]="'post/' + post._id">
                  <div class="header-inner-search-items-item__image">
                    <img width="30" [src]="imagePath + 'avatars/' + post.author.avatar" alt="">
                  </div>
                  <div class="header-inner-search-items-item__content">
                    <a class="m-0 p-0 dropdown-item" [innerHTML]="post.title"></a>
                    <div class="d-flex gap-2">
                      <span>{{post.updatedAt | TimeAgo}}</span>
                      <strong>·</strong>
                      <span>by {{post.author.username}}</span>
                    </div>
                  </div>
                </li>
              </ng-scrollbar>
            </ul>
          </div>
          <button class="btn btn-outline-light header-inner-right__btn  bg-white text-primary" type="submit">
            <i class="bi bi-search"></i>
          </button>
        </form>
        <div class="btn-group" dropdown placement="bottom right">
          <button (click)="noticeCount = 0; resetReadNotice(user._id, 'isRead', '')" id="button-alignment"
            dropdownToggle type="button" class="header-inner-right__btn  bg-white text-primary btn dropdown-toggle"
            aria-controls="dropdown-alignment">
            <i class="bi bi-bell-fill"></i>
            <div *ngIf="noticeCount > 0" class="header-inner-right__btn-count bg-dark text-white flex-center">
              {{noticeCount}}
            </div>
          </button>
          <ul id="dropdown-alignment" *dropdownMenu class="header-inner-notices dropdown-menu dropdown-menu-right p-2"
            role="menu" aria-labelledby="button-alignment">
            <ng-scrollbar style="height: 338px !important; width: 300px;">
              <li routerLinkActive="active" (click)="getSinglePost(notice.postID, 'isClick', notice._id)"
                role="menuitem" class="header-inner-notices-notice p-2 gap-2 flex-center-y"
                *ngFor="let notice of listNotices">
                <div *ngIf="!notice.isClick" class="header-inner-notices-notice__dot text-primary"><i
                    class="bi bi-dot"></i></div>
                <div class="header-inner-notices-notice__image">
                  <img width="30" [src]="imagePath + 'avatars/' + notice.userSend.avatar" alt="">
                  <ng-container [ngSwitch]="notice.type">
                    <div class="header-inner-notices-notice__image-icon flex-center bg-white text-danger"
                      *ngSwitchCase="'like'">
                      <i class="bi bi-suit-heart-fill"></i>
                    </div>
                    <div class="header-inner-notices-notice__image-icon flex-center bg-white" *ngSwitchCase="'comment'">
                      <i class="bi bi-chat-square-fill text-info"></i>
                    </div>
                  </ng-container>
                </div>
                <div class="header-inner-notices-notice__content">
                  <p class="text-dark m-0"><strong>{{notice.userSend.username }}</strong> {{notice.content}}</p>
                  <span class="text-primary">{{notice.createdAt | TimeAgo}}</span>
                </div>
              </li>
            </ng-scrollbar>
          </ul>
        </div>

        <div class="btn-group header-inner-user" dropdown>
          <button id="button-animated" dropdownToggle type="button" class="btn p-0 header-inner-user__avatar"
            aria-controls="dropdown-animated">
            <ngx-skeleton-loader appearance="circle" [theme]="{ margin: 0}" *ngIf="!user"></ngx-skeleton-loader>
            <img *ngIf="user && user.avatar" [src]="avatarSrc + user.avatar" alt="" />
          </button>
          <ul id="dropdown-animated" *dropdownMenu class="p-2 dropdown-menu dropdown-menu-end" role="menu"
            aria-labelledby="button-animated">
            <li class="header-inner-user-dropdown-item" role="menuitem">
              <a class="dropdown-item flex-center-y gap-2 p-2 m-0">
                <div class="header-inner-user-dropdown-item__avatar" *ngIf="user && user.avatar">
                  <img [src]="avatarSrc + user.avatar" />
                </div>
                <strong class="header-inner-user-dropdown-item__username" *ngIf="user && user.username">{{ user.username
                  }}</strong>
              </a>
            </li>

            <li class="header-inner-user-dropdown-item" role="menuitem">
              <a class="dropdown-item p-2 m-0 flex-center-y gap-2" [routerLink]="['/profile', user._id]">
                <i class="bi bi-person-circle flex-center text-dark"></i>
                <span class="fw-6">Your profile</span>
              </a>
            </li>
            <li class="header-inner-user-dropdown-item" role="menuitem">
              <a class="dropdown-item p-2 m-0 flex-center-y gap-2" data-toggle="modal" data-target="#exampleModal"
                [routerLink]="'/profile/' + user._id + '/change-password'">
                <i class="bi bi-key flex-center text-dark"></i>
                <span class="fw-6">Change password</span>
              </a>

              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      ...
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>

            </li>


            <li class="header-inner-user-dropdown-item">
              <button class="dropdown-item flex-center-y gap-2 p-2" (click)="logOut()">
                <i class="bi bi-box-arrow-in-right flex-center text-dark"></i>
                <span class="fw-6">Log out</span>
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
