.header {
  background-color: var(--bs-primary);
  height: var(--header-height);
  z-index: 10;

  &-container {
    &-home {
      font-size: 24px;
    }

    &-bar {
      font-size: 30px;

      &:focus {
        box-shadow: none;
      }

      span {
        // color: white !important;
      }
    }
  }

  &-inner {
    &_nav {
      &__item {}
    }

    &-right {
      height: 40px;

      &__btn {
        position: relative;
        width: 40px;
        height: 40px;
        background-color: white;
        border-radius: 50px;

        &-count {
          font-size: 11px;
          position: absolute;
          top: -5px;
          right: -5px;
          width: 20px;
          height: 20px;
          border-radius: 50px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        }
      }
    }

    &-search {
      &-items {
        &-item {
          border-radius: 12px;
          cursor: pointer;

          &* {
            pointer-events: none;
          }

          &:hover {
            background-color: rgba(0, 0, 0, 0.1);
          }

          &__image {
            width: 38px;
            height: 38px;
            border-radius: 50px;
            overflow: hidden;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          &__content {
            a {
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              width: 320px;

              &:hover {
                background: none;
              }
            }

            span {
              font-size: 14px;
              font-weight: 600;
            }
          }
        }
      }
    }

    &-user {
      &__avatar {
        img {
          border-radius: 50px;
          width: 40px;
          height: 40px;
          object-fit: cover;
        }
      }

      &-dropdown {
        &-item {
          font-size: 15px;

          i {
            background-color: #E4E6EB;
            width: 30px;
            height: 30px;
            border-radius: 50px;
            font-size: 14px;
          }

          &:hover {
            border-radius: 12px;
            overflow: hidden;
            cursor: pointer;
          }

          &__avatar {
            width: 32px;
            height: 32px;
            border-radius: 50px;
            overflow: hidden;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          &__username {}
        }
      }
    }

    &-notices {
      &-notice {
        position: relative;
        width: 300px;
        border-radius: 12px;

        &:hover {
          background-color: rgba(0, 0, 0, 0.1);
          cursor: pointer;
        }

        &__dot {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 5px;

          i {
            font-size: 50px;
          }
        }

        &__image {
          position: relative;
          width: 50px;
          height: 50px;
          border-radius: 50px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50px;
          }

          &-icon {
            position: absolute;
            bottom: -5px;
            right: -5px;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
            border-radius: 50px;
            width: 22px;
            height: 22px;
            overflow: hidden;

            i {
              font-size: 12px;
            }
          }
        }

        &__content {
          p {
            font-size: 15px;
          }

          span {
            font-size: 14px;
          }
        }

      }
    }
  }
}

.btn.dropdown-toggle::after {
  display: none;
}
