/* You can add global styles to this file, and also import other style files */
// regular style toast


$body-bg: #f2f3f6;
$text-color: #2d4f62;
$primary: #20E3B2;
$secondary: #2979ff;
$success: #07c43c;
$warning: #f1b016;
$danger: #fa6e5b;
$custom-colors: (
  "brand": #17234e,
  "orange-light": #ffeab8,
  "aaa": red,
);

// Merge the maps
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
$theme-colors: map-merge($theme-colors, $custom-colors);
@import "../node_modules/bootstrap/scss/bootstrap";

@import "node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import "node_modules/@fortawesome/fontawesome-free/scss/regular.scss";
@import "node_modules/@fortawesome/fontawesome-free/scss/brands.scss";
@import "node_modules/bootstrap-icons/font/bootstrap-icons.css";

:root {
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

button {
  border: 0 !important;
}

/* Importing Bootstrap SCSS file. */
@import "./node_modules/bootstrap/scss/bootstrap";
