/* You can add global styles to this file, and also import other style files */
// regular style toast
@import 'node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import 'node_modules/@fortawesome/fontawesome-free/scss/solid.scss';
@import 'node_modules/@fortawesome/fontawesome-free/scss/regular.scss';
@import 'node_modules/@fortawesome/fontawesome-free/scss/brands.scss';
@import 'node_modules/bootstrap-icons/font/bootstrap-icons.css';
@import "node_modules/bootstrap/scss/bootstrap";

@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/bootstrap";


:root {
  --bs-primary: #15d0f1 !important;
  --bs-secondary: #edf0f5 !important;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

button {
  border: 0 !important;
}

.btn-primary {
  background-color: var(--bs-primary) !important;

}

.form-control:focus {
  border-color: var(--bs-primary);
  box-shadow: 0 0 0 2px var(--bs-primary) !important;

}
