<div class="form d-flex align-items-center justify-content-center h-100">
  <div class="container form-container">
    <div class="row">
      <div class="col-6 form-inner">
        <div class="form-inner-header">
          <h2>Sign In</h2>
          <div class="form-inner-header_social">
            <i class="bi bi-facebook"></i>
            <i class="bi bi-google"></i>
          </div>
        </div>
        <div class="form-inner-body d-flex flex-column">
          <mat-form-field appearance="fill">
            <mat-label>Enter your email</mat-label>
            <input matInput placeholder="pat@example.com" [formControl]="email" required>
            <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Enter your email</mat-label>
            <input matInput placeholder="pat@example.com" [formControl]="email" required>
            <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Enter your email</mat-label>
            <input matInput placeholder="pat@example.com" [formControl]="email" required>
            <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
          <button mat-button color="primary">Primary</button>
        </div>
        <div class="form-inner-footer">
          <mat-checkbox class="example-margin">Check me!</mat-checkbox>
          <a href="">Forgot password</a>
        </div>
      </div>
      <div class="col-6">
        <h2>Welcome to Tuanna Blog</h2>
        <p>Don't have account ?</p>
        <a mat-raised-button href="https://www.google.com/" target="_blank">Sign Up</a>
      </div>
    </div>
  </div>
</div>
